nav {
  background-color: #6d49f0cf;
}

footer {
  background-color: #cb9ce5;
}

main {
  display: flex;
  flex-direction: row;
  align-items: start;
  justify-content: space-evenly;
}

main h1, .legend {
  color: whitesmoke;
}

section {
  width: 45%;
  display: flex;
  flex-direction: column; 
  align-items: center;
}

main.add-edit-task {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
}
main.add-edit-task form {
  width: 70%;
}

.add-edit-form {
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  border: 1px solid #EFC3D9;
  padding: 20px;
  background: #FFF4FE;
  width: 90%;
}
.add-edit-form > button {
  margin-left: auto;
}
.legend {
  text-align: right;
  width: 100%;
  padding: 1%;
}
.legend span {
  padding: 2%;
}

table {
  border-radius: 10px;
  border: 1px solid #EFC3D9;
  background-color: #FFF4FE;
  padding: 10px;
  width: 100%;
}
td {
  padding: 7px 10px 7px 10px;
}
th {
  border-bottom: 1px solid #44323B;
}

.make-public-box {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.make-public-box label {
  margin-left: 30px;
}

#isPublicForEveryone-input, #isPublicForFriends-input {
  width: fit-content;
  margin: 0 15px;
  padding: 0;
}

@media screen and (max-width: 400px) {
  main {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  section {
    width: 90%;
  }
  .add-edit-form {
    width: 100%;
  }
  table {
    width: 100%;
  }
}