
.addForm {
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  border: 1px solid #EFC3D9;
  padding: 20px;
  background: #FFF4FE;
}

.addForm > button {
  margin: 20px;
  width: fit-content;
  margin-left: auto;
}

table {
  border-radius: 10px;
  border: 1px solid #EFC3D9;
  background-color: #FFF4FE;
  padding: 10px;
}

td {
  padding: 7px 10px 7px 10px;
}

th {
  border-bottom: 1px solid #44323B;
}

