  <% if (!user) { %>
    <script defer src="https://accounts.google.com/gsi/client"></script>
  <% } %>
</head>
<body>
  <nav>
    <% if (user) { %>
      <a href="/profiles" class="<%= title === "My Friends" ? "active" : "" %>">My Friends</a>
      <a href="/plans" class="<%= title === "My Plans" ? "active" : "" %>">My Plans</a>
      <a href="/" class="<%= title === "Home Page" ? "active" : "" %>">Home</a>
      <a href="/auth/logout" class="right">
        <button type="submit">Logout</button>
      </a>
    <% } %>
  </nav>
