<%- include('../partials/html-head') %>
<link rel='stylesheet' href='/stylesheets/plans/index.css' />
<%- include('../partials/nav') %>


<section>
  <h1>All Expenses</h1>
  <table>
    <thead>
      <tr>
        <th>Date</th>
        <th>Name</th>
        <th>Cost</th>
      </tr>
    </thead>
    <tbody>
      <% expenses.forEach(expense => { %>
        <% if (expense.creator.equals(user?.profile._id)) { %>
          
          <% } %>
          <% }) %>
        </tbody>
      </table>
</section>