html {
  box-sizing: border-box
}

/* The Universal Selector */
*, /* All elements*/
*::before, /* All ::before pseudo-elements */
*::after { /* All ::after pseudo-elements */
  /* height & width will now include border & padding by default
     but can be over-ridden as needed */
  box-sizing: inherit;
  font-family: 'Jura', sans-serif,  system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
  Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}

body {
  background-color: #FCE5F0;
  color: #005B48;
  min-height: 100vh;
  font-size: 18px;
}

body > main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

body > nav {
  overflow: hidden;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0 20px 0 30px;
}

nav > i {
  width: 34px;
  object-fit: contain;
}

nav > a:visited {

}

nav > a {
  margin-left: auto;
  display: block;
  text-align: center;
  margin: 10px;
  padding: 10px;
  color: #005B48;
  text-decoration: none;
  font-weight: bold;
}

nav > a:hover {
  text-decoration: underline;
}

nav > a.active {
  border-radius: 10px;
  background-color: #F7C1CA;
  text-decoration: none;
}

.link-no-style {
  text-decoration: none;
}

.fas::before {
  font-family: "Font Awesome 5 Free";
}

.main-btn {
  background-color: #4AFCE2;
  border: none;
  border-radius: 10px;
  padding: 10px;
  margin: 5px;
}

.main-btn:hover {
  background-color: #44e9d0;
  box-shadow: 0 3px 3px 0 rgb(175, 175, 175);
  transition: all 0.2s;
}

.details-btn {
  background-color: #DDEAF5;
  border: none;
  border-radius: 10px;
  padding: 7px;
}

.details-btn:hover {
  background-color: #b9c5d1;
  box-shadow: 0 3px 3px 0 rgb(174, 174, 174);
  transition: all 0.2s;
}

.delete-btn {
  background: none;
  border: none;
  color: #c62b88;
}

.delete-btn:hover{
  font-size: larger;
  transition: all 0.2s;
}

.sub-btn {
  background: none;
  font-weight: bolder;
  border: 2px solid #00C9AF;
  color: #00C9AF;
  margin: 5px
}

.sub-btn:hover {
  background-color: #fff4f9;
  color: #4AFCE2;
  border: 2px solid #4AFCE2;
  transition: all 0.2s;
}

input, textarea, select {
  border: 1px solid #EFC3D9;
  border-radius: 4px;
  background-color: #ffe5ff;
  width: 700px;
  padding: 7px;
  margin: 10px;
}

.comment-form {
  display: flex;
  align-items: center;

}
.comment-form > button {
  margin: 20px;
}

.box-head {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.box-head > a {
  margin-left: auto;
}