main.noNav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  height: calc(100vh - 3vh);
  background-color: #FEF2DD;
}

.title-slogan-box {
  display: flex;
  flex-direction: column;
  height: fit-content;
  margin: 2%;
  width: 50%;
}

.sign-in-box {
  display: flex;
  flex-direction: column;
  max-height: 80%;
  width: 40%;
}

#index-img {
  border-radius: 15px;
  max-width: 100%;
}

.slogan {
  font-size: 2vw;
  margin: 0.5vw;
}

.slogan .title-name {
  font-size: 2vw;
  text-shadow: 1px 1px 2px #005B4C;
}

.get-started-box {
  display: flex;
  flex-direction: row;
  background-color: #FFC1D9;
  border-radius: 20px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  color: #005B4C;
  padding: 4%;
  margin-bottom: 2%;
  margin-left: 20%;
  width: fit-content;
  align-items: center;
}

.g-id-box {
  display: none;
}

/* Hashtags on Home Page */
.link-box {
  margin: 2%;
  font-size: 1.0vw;
  max-height: 50vh;
  max-width: 60vw;
  width: 100%;
  overflow: scroll;
}

.link-box > *, .decoy span {
  padding: 2%;
}

#user-hashtag-box {
  display: flex;
  margin: 0;
  padding: 0;
}
#user-hashtag-box ul {
  display: flex;
  width: 100%;
  margin: 0;
  padding: 0;
  flex-wrap: wrap;
  justify-content: center;
}
#user-hashtag-box li {
  display: flex;
  padding: 1%;
  flex-direction: row;
  align-items: center;
}
#user-hashtag-box button {
  padding: 0;
  margin: 5px;
}
.add-hashtag-btn {
  font-size: 2vw;
  margin-left: auto;
  margin-right: auto;
}
.add-hashtag-btn:hover {
  color: rgb(255, 0, 123);
}
#add-hashtag-form #hash-tag-input{
  width: 50%;
  margin: 0;
}
.link-box > a:hover {
  font-size: 2vw;
}
/* user index page */
.card-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-top: 5%;
  margin-bottom: auto;
  width: 80%;
  gap: 16px;
}
.card-container>:nth-of-type(odd) {
  background: #CAF4EC;
}
.card {
  display: flex;
  flex-direction: column;
  width: 200px;
  height: 300px;
  justify-content: center;
  text-align: center;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  padding: 1vw;
  background-color: #FCE8D3;
}
.card:hover {
  box-shadow: 0px 0px 3px 3px rgb(0, 200, 255);
  transition: all 0.25s;
}
.card-body a {
  color: #6C5963;
}
.card-body a:hover {
  text-shadow: 2px 2px 4px #b59da9;
  font-weight: 800;
  color: #612e49;
}
/* add friend buttons*/
.add-friend {
  margin-top: auto;
}
.add-friend .main-btn {
  pointer-events: none;
}
.add-friend-btn {
  width: 8vw;
  border-radius: 8px;
  border: none;
  background-color: #fcfa94;
}
.add-friend-btn:hover {
  background-color: #cbc96d;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.2);
  transition: all 0.2s;
}

/* user */
.user-box {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.user-box > img {
  margin-bottom: 40px;
  border-radius: 50%;
  border: 2px solid #E362AC;
}

.user-edit-form {
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  border: 1px solid #EFC3D9;
  padding: 20px;
  background: #FFF4FE;
}

.user-edit-form > button {
  margin: 20px;
  width: fit-content;
  margin-left: auto;
}

.icons {
  width: 60px;
  padding-right: 20px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

/* user profile details page */
.profile-box {  
  display: grid;
  grid-template-rows: 0.7fr 1.3fr;
  grid-auto-columns: 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  margin-top: 6vh;
}

.profile-details-box {  
  display: grid;
  grid-template-columns: 0.7fr 1.3fr;
  grid-template-rows: auto auto;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "display-name-head display-name"
    "payment-forms-head payment-forms";
  grid-area: 2 / 1 / 3 / 2;
  width: 60vw;
  height: 30vh;
  background-color: #FFF4FD;
  border-radius: 8px;
  padding-top: 5vh;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.profile-details-box > * {
  padding-left: 5vw;
  font-size: 1.2vw;
}

.display-name-head { 
  grid-area: display-name-head;
  margin-left: auto;
}

.display-name { 
  grid-area: display-name; 
  margin-right: auto;
  color: #44323B;
}

.payment-forms-head { 
  grid-area: payment-forms-head;
  margin-left: auto;
}

.payment-forms { 
  grid-area: payment-forms; 
  margin-right: auto;
  color: #44323B;
}

#user-payment-forms {
  margin-top: 2vh;
}

.pm-icons {
 width: 60px;
 margin-right: 2vw;
 padding-top: 1vw;
}


.profile-name-box { 
  grid-area: 1 / 1 / 2 / 2;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 5vh;
}
.profile-name-box > * {
  margin: 2vh;
}

.name-title {
  font-size: 3vw;
}

/* title animation */
.title-word {
  font-family: "Montserrat", sans-serif;
  font-size: 7.0vw;
  font-weight: 800;
  animation: color-animation 4s linear infinite;
}

.sub-title-word {
  font-family: "Montserrat", sans-serif;
  font-size: 5.0vw;
  font-weight: 800;
  animation: color-animation 4s linear infinite;
}

.title-word-1 {
  --color-1: #DF8453;
  --color-2: #3D8DAE;
  --color-3: #E4A9A8;
}

.title-word-2 {
  --color-1: #DBAD4A;
  --color-2: #ACCFCB;
  --color-3: #17494D;
}

@keyframes color-animation {
  0%    {color: var(--color-1)}
  32%   {color: var(--color-1)}
  33%   {color: var(--color-2)}
  65%   {color: var(--color-2)}
  66%   {color: var(--color-3)}
  99%   {color: var(--color-3)}
  100%  {color: var(--color-1)}
}

/* Get Started text animation */
.waviy {
  position: relative;
  -webkit-box-reflect: below -20px linear-gradient(transparent, rgba(0,0,0,.2));
  font-size: 2vw;
}
.waviy span {
  position: relative;
  display: inline-block;
  text-transform: uppercase;
  font-weight: bold;
  animation: waviy 1s infinite;
  animation-delay: calc(.1s * var(--i));
  
}
@keyframes waviy {
  0%,40%,100% {
    transform: translateY(0)
  }
  20% {
    transform: translateY(-20px)
  }
}

/* profile index animation */
.typewriter h1 {
  display: flex;
  overflow: hidden;
  border-right: .15em solid pink;
  white-space: nowrap;
  margin: 0 auto;
  letter-spacing: .15em;
  animation: 
    typing 3.5s steps(40, end),
    blink-caret .75s step-end infinite;
}

@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: rgb(255, 46, 189); }
}


/* responsive screen */
@media screen and (max-width: 800px) {
   main, main.noNav {
    display: flex;
    flex-direction: column;
  }
  .title-slogan-box {
    width: 90%;
  }
  .slogan {
    font-size: 5vw;
  }
  .title-word {
    font-size: 15vw;
  }
  .sign-in-box {
    width: 100%;
  }
  .sub-title-word {
    font-size: 10vw;
  }
  #user-welcome {
    width: 100%;
  }
  .slogan .title-name {
    font-size: 7vw;
  }
  .link-box > *, .decoy > span {
    font-size: 4vw;
    display: block;
  }
  .link-box a:hover{
    font-size: 6vw;
  }
  .name-title {
    font-size: 7vw;
  }
  
  .card {
    width: 150px;
    height: 200px;
  }
  div.typewriter {
    margin-top: 5%;
  }
  div h1 {
   font-size: 5vw;
  }
  .card * {
    font-size: 15px;
    width: 100%;
  }
}

