
#index-container {
  display: grid; 
  grid-auto-columns: auto auto; 
  grid-template-rows: 1fr; 
  gap: 0px 0px; 
  grid-template-areas: 
    "title-slogan-box sign-in-box"; 
}

#index-img {
  height: 50vh;
  margin-bottom: 50px;
  margin-right: auto;
  border-radius: 15px;
  position: relative;
}

.sign-in-box {
  grid-area: sign-in-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 40vw;
  margin-left: 4vw;
  font-size: 20px;
}

.title-slogan-box {
  grid-area: title-slogan-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 50vw;
}

.get-started-box {
  display: flex;
  flex-direction: row;
  background-color: #FFC1D9;
  border-radius: 20px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.slogan {
  font-size: 1.5vw;
  margin: 10px;
}

.sign-in-box > div {
  padding: 5px;
}

#get-started-btn {
  font-size: 30px;
  color: inherit;
  padding-left: 30px;
}

.g-id-box {
  margin-top: 30px;
  margin-left: 30px;
  margin-right: 30px;
}

.user-box {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.user-box > img {
  margin-bottom: 40px;
  border-radius: 50%;
  border: 2px solid #E362AC;
}

.user-edit-form {
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  border: 1px solid #EFC3D9;
  padding: 20px;
  background: #FFF4FE;
}

.user-edit-form > button {
  margin: 20px;
  width: fit-content;
  margin-left: auto;
}

.icons {
  width: 60px;
  padding-right: 20px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.profile-box {  
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto auto;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "profile-name profile-name"
    "display-name-head display-name"
    "payment-forms-head payment-forms";
  margin-top: 60px;
  padding: 20px;
    
  }
  
.profile-details-box {
  border: 2px solid #E362AC;
  box-shadow: 0 3px 3px 0 rgb(175, 175, 175);

}
.profile-details-box > * {
  display: flex;
  flex-direction: column;
}

.display-name-head { 
  grid-area: display-name-head;
  padding: 10px 20px;
  margin-top: 20px;
  margin-bottom: 40px;
}

.payment-forms-head { 
  grid-area: payment-forms-head; 
  padding: 10px 30px;
  margin-bottom: 40px;

}

.display-name { 
  grid-area: display-name; 
  padding: 10px 30px;
  margin-top: 20px;

}

.payment-forms {
  grid-area: payment-forms;
  display: flex;
  flex-direction: column;
  margin-bottom: 40px;
  justify-content: center;
}

.payment-forms > * {
  padding: 10px 30px;
}

.profile-name {
  grid-area: profile-name;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;
}
.profile-name > * {
  padding: 10px;
}

/* title animation */
.title-word {
  font-family: "Montserrat", sans-serif;
  font-size: 7.0vw;
  font-weight: 800;
  animation: color-animation 4s linear infinite;
}

.title-word-1 {
  --color-1: #DF8453;
  --color-2: #3D8DAE;
  --color-3: #E4A9A8;
}

.title-word-2 {
  --color-1: #DBAD4A;
  --color-2: #ACCFCB;
  --color-3: #17494D;
}

@keyframes color-animation {
  0%    {color: var(--color-1)}
  32%   {color: var(--color-1)}
  33%   {color: var(--color-2)}
  65%   {color: var(--color-2)}
  66%   {color: var(--color-3)}
  99%   {color: var(--color-3)}
  100%  {color: var(--color-1)}
}

/* Get Started text animation */
.waviy {
  position: relative;
  -webkit-box-reflect: below -20px linear-gradient(transparent, rgba(0,0,0,.2));
  font-size: 30px;
}
.waviy span {
  position: relative;
  display: inline-block;
  text-transform: uppercase;
  font-weight: bold;
  animation: waviy 1s infinite;
  animation-delay: calc(.1s * var(--i));
  
}
@keyframes waviy {
  0%,40%,100% {
    transform: translateY(0)
  }
  20% {
    transform: translateY(-20px)
  }
}
